body {
    font-family: Arial, sans-serif;
    background-color: #010156;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1406dd;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #000000;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0097a7;
}
